beautifulsoup4==4.11.1
certifi==2021.10.8
charset-normalizer==2.0.10
colorama==0.4.5
filelock==3.7.1
gdown==5.2.0
idna==3.3
numpy==1.21.5
Pillow==9.0.0
PySocks==1.7.1
requests==2.27.1
six==1.16.0
soupsieve==2.3.2.post1
torch==1.10.1
tqdm==4.64.0
typing-extensions==4.0.1
urllib3==1.26.8
